@media screen and (max-width: 768px) {
      h1 {
            font-size: 30px;
      }
      h2 {
            font-size: 25px;
      }
}

.img-icon{
	max-height : 30px;
}

a{
	color: #292d32;
}

.snap{
	margin-bottom: 10px;
	cursor: pointer;
}

.snap:hover {
	opacity: 0.7;
}

.description{
	 font-family: "Times New Roman";
	 text-align: center;
}